<footer id="footer">
  <h4 id="footer-title">Contact me!🙋‍♂️</h4>
  <div id="footer-links">
    <a href="#github" class="footer-link">
      <i class="fab fa-github"></i>
      Github
    </a>
    <a href="#linkedin" class="footer-link">
      <i class="fab fa-linkedin"></i>
      Linkedin
    </a>
    <a href="#facebook" class="footer-link">
      <i class="fab fa-facebook"></i>
      Facebook
    </a>
    <a href="#instagram" class="footer-link">
      <i class="fab fa-instagram"></i>
      Instagram
    </a>
    <a href="mailto:webmaster@example.com" class="footer-link">
      <i class="far fa-envelope-open"></i>
      Email me
    </a>
  </div>
</footer>
