<footer id="footer-section">
  <h4 class="footer-title">Contact me!🙋‍♂️</h4>
  <div class="footer-links">
    <a
      target="_blank"
      href="https://github.com/giacomoschiavo"
      class="footer-link"
    >
      <i class="fab fa-github"></i>
      Github
    </a>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/giacomo-schiavo-a99a32185/"
      class="footer-link"
    >
      <i class="fab fa-linkedin"></i>
      Linkedin
    </a>
    <a
      target="_blank"
      href="https://www.facebook.com/giacomoschiavo1209"
      class="footer-link"
    >
      <i class="fab fa-facebook"></i>
      Facebook
    </a>
    <a
      target="_blank"
      href="mailto:giacomo.schiavo12@gmail.com"
      class="footer-link"
    >
      <i class="far fa-envelope-open"></i>
      Email me
    </a>
  </div>
</footer>
