<div id="divnavbar" class="light">
  <i class="material-icons light" id="bulb"
    onclick="darkToggle()">wb_incandescent</i>
  <div id="menu">
    <i class="minvisible material-icons">menu</i>
    <div id="divlinks">
      {% for item in site.data.navigation %}
      <a class="{% if page.url == item.link %} currentlink {% endif %} light"
      href="{{item.link}}">{{item.name}}</a>
      {%endfor%}
    </div>
  </div>
</div>

<script>
  function darkToggle() {
    $(".light").toggleClass("darkmode");
    $(".dark").toggleClass("lightmode");
  }
</script>
