<section class="projects" id="projects-section">
  <div class="projects-title-container">
    <p class="header-big">These are my</p>
    <p class="header-little">Projects</p>
    <!-- <p class="header-sub">or what I tried to do xd</p> -->
  </div>
  <div class="projects-container">
    {% for item in site.data.projects %}
    <article class="project">
      <!-- <img src="{{item.thumbnail}}" class="project-img" alt="img-project" /> -->
      <div class="project-container">
        <!-- <h6 class="project-title">{{item.name}}</h6> -->
        <a class="project-title" href="{{item.link}}">{{item.name}}</a>
        <!-- <div class="project-link-container">
        </div> -->
      </div>
    </article>
    {% endfor %}
    <div class="projects-more">
      <a href="https://giacomoschiavo.github.io/projects/" target="_blank"
        >Show more projects📂</a
      >
    </div>
  </div>
</section>
