<section class="projects" id="projects-section">
  <h2 class="projects-title">Projects👨‍💻</h2>
  <div class="projects-container">
    {% for item in site.data.projects %}
    <article class="project">
      <img src="{{item.thumbnail}}" class="project-img" alt="img-project" />
      <div class="project-container">
        <h6 class="project-title">{{item.name}}</h6>
        <div class="project-link-container">
          <a class="project-link" href="{{item.link}}">Try it!😁</a>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="projects-more">
    <a href="https://giacomoschiavo.github.io/projects/" target="_blank"
      >Show more projects📂</a
    >
  </div>
</section>
