<section id="projects">
  <h2 id="projects-text">Projects👨‍💻</h2>
  <div id="div-projects">
    {% for item in site.data.projects %}
    <article class="article-projects">
      <img src="{{item.thumbnail}}" alt="img-project">
      <div class="hidden-div">
        <h6>{{item.name}}</h6>
        <a href="{{item.link}}">Live demo🎮</a>
      </div>
    </article>
    {% endfor %}
  </div>
  <div id="projects-more">
    <a href="https://giacomoschiavo.github.io/projects/" target="_blank">Show more projects📂</a>
  </div>
</section>
