<!-- deve essere inserito in un iteratore con post come variabile -->
<div class="window {% if post.thumbnail == null %}light{% endif %}">
  {% if post.thumbnail %}<img src="{{post.thumbnail}}">{% endif %}
  <!-- <i class="minvisible material-icons">touch_app</i> -->
  <h2 {% if post.thumbnail%}style="color: #F6F6F4"{% endif %}>{{ post.title }}</h2>
  <div class="postexcerpt {% if post.thumbnail == null %}{% endif %}">
    <h2>{{post.title}}</h2>
    <hr>
    <p>{{post.excerpt}}</p>
  </div>
  <div class="divlink">
    <a href="{{post.url}}">Leggi</a>
  </div>
</div>
