.postlist {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
}

.postlist .window {
  flex: 1;
  min-width: 30%;
  max-width: 30%;
  margin: 10px;
  border-radius: 10px;
  // box-shadow: 0 0 5px $textonwhite;
}


@media screen and (max-width: 700px) {
  .postlist {
    display: flex;
    flex-flow: column;
    width: 95%;
    margin: auto;
  }

  .postlist .window {
    flex: 1;
    margin: 10px auto;
    // min-width: none;
    max-width: none;
    min-height: 10vh;
    width: 90%;
    border-radius: 10px;
    // box-shadow: 0 0 5px $textonwhite;
  }

  .postlist .window img {
    max-width: 100%;
    width: auto;
    max-height: 45vh;
  }

}
