.postlist {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
}

.postlistitem {
  flex: 1;
  min-width: 250px;
  // max-width: 30%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px $grey;
}

.postlistitem:hover {
  background-color: $black;
  transform: scale(1.05);
}

.postlistitem > h2 {
  margin: 5px;
}

.postlistitem > .postlink {
  text-align: center;
  padding: 10px;
  width: 50%;
  margin: auto;
  border-radius: 20px;
}

.postlistitem > .postlink a{
  text-decoration: none;
}
