footer {
  // max-height: 70vh;
  // height: 70vh;
  margin-top: 20px;
  background-color: $white;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
}

.footer-title {
  margin: 0;
  color: $black;
  font-size: 4.5vw;
  text-align: center;
  padding: 40px 20px;
  padding-bottom: 0;
  width: 45%;
  margin: 0 auto;
  border-bottom: 20px solid $special;
}

.footer-links {
  width: 80%;
  padding: 20px 0;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
  transition: 0.5s;
  font-size: 2vw;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px 20px;
  // width: 20%;
  // border-radius: 10px;
  border-bottom: 5px solid transparent;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background-color: $white;
  color: $black;
}

.footer-link:hover {
  transition: 0.5s;
  border-bottom: 5px solid $special;
  transform: translateY(3px);
}

.footer-link i {
  font-size: 3vw;
}
@media (max-width: 600px) {
  #footer-title {
    font-size: 4.5vh;
    text-align: center;
    padding: 20px 10px;
  }

  .footer-link {
    font-size: 3vh;
    width: 80%;
  }

  .footer-link i {
    font-size: 3vh;
  }
}
