#heading {
  max-height: 100vh;
  height: 100vh;
  background-color: $black;
  position: relative;
}

#div-heading {
  position: absolute;
  font-size: 5.2vw;
  padding: 20px;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: $white;
  border-left: 18px solid $special;
  border-radius: 15px;
}

#heading-title {
}
