#heading {
  max-height: 100vh;
  height: 100vh;
  background-color: $white;
  position: relative;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.6);
}

#div-heading {
  position: absolute;
  font-size: 4.5vw;
  padding: 10px 15px;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: $black;
  border-left: 18px solid $special;
  // border-radius: 15px;
}

#scroll-icon {
  color: $black;
  font-size: 4vw;
  padding: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  animation: scrollAnim 0.5s ease-in-out infinite alternate;
}
@media (max-width: 600px) {
  #div-heading {
    left: 50%;
    font-size: 5vh;
    border-left: 10px solid $special;
    border-bottom: 0 solid $special;
    // border-radius: 10px;
  }

  #div-heading sub {
    line-height: 0;
  }

  #scroll-icon {
    font-size: 6vh;
    bottom: 0;
  }
}


@keyframes scrollAnim {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 10%);
  }
}
