#divheading {
  height: 100%;
  min-height: 100%;
  position: relative;
}

.headingbg {
  max-height: 100%;
  width: 100%;
  // transform: scale(1.03);
  filter: brightness(0.5) grayscale(0.7);
  object-fit: cover;
}

#heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3vw;
  color: $black;
}

#heading > h1 {
  padding: 0;
  margin: 0;
  letter-spacing: 5px;
  user-select: none;
  text-align: center;
  color: $white;
    // transform: rotate(-30deg);
}


#divbody {
  display: flex;
  flex-flow: column;
  margin: 20px 0;
  /* justify-content: space-evenly; */
}

.horizontal {
  padding: 20px 0;
}

.horizontal > a {
  float: right;
}

.horscroll {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: -10%;
}

.window {
  min-width: 20%;
  margin: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px $grey;
  background: $black;
  padding: 10px 30px;
  // box-shadow: 0 0 10px $grey;
  color: $white;
  // transition: 1s;
}

.window:hover {
  // transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 0 0 10px r  gba(0, 0, 0, 0.1);
  position: relative;
}

.window:first-child {
  margin-left: 15%;
}

.window:last-child {
  margin-right: 50px;
}

.window p {
  font-family: "Gelasio", sans-serif;
}

.horizontal > h2 {
  margin-left: 5%;
  font-family: "Ubuntu";
  letter-spacing: 1px;
  background: transparent !important;
  color: $grey;
}

.horizontal:first-child {
  margin-bottom: 50px;
}

.divlink {
  width: 50%;
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.window a {
  transition: 1s;
  text-decoration: none;
  font-family: "Ubuntu";
}

.window a:hover {
  transition: 0.4s;
}
