#divbody {
  display: flex;
  flex-flow: column;
  margin: 20px 0;
  /* justify-content: space-evenly; */
}

.horizontal {
  padding: 20px 0;
}

.horizontal > a {
  float: right;
}

.horscroll {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: -15%;
  margin-top: 20px;
}


.horizontal > h2 {
  margin: 10px;
  margin-left: 5%;
  font-family: "Ubuntu";
  letter-spacing: 1px;
  display: inline;
  // background: transparent !important;
  // color: $special;
}

.horizontal:first-child {
  margin-bottom: 20px;
}

.divlink {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  // background: $special;
  border-radius: 50px;
}
