$white: #F6F6F4;
$black: #1a1b1f;
$grey: #6B6A6A;

@import "home";
@import "navbar";
@import "scrollbar";
@import "footer";
@import "post";
@import "blog";


html * {
  transition: 0.3s;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    color: $grey;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    background-color: $white;
}

.dark {
    color: $white;
    background-color: $black;
}

.light {
    color: $black;
    background-color: $white;
}

.darkmode {
    color: $white !important;
    background-color: $black !important;
}

.lightmode {
    color: $black !important;
    background-color: $white !important;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 12vw;
    }

    .window {
        min-width: 50%;
        margin: 10px 30px;
        border-radius: 20px;
        padding: 10px 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

}
