// https://coolors.co/f6f6f4-e8eaea-48ff96-1f1f21-323235
$white: #F6F6F4;
$black: #121112;
$special: #827717;

@import "home";
@import "navbar";
@import "scrollbar";
@import "footer";
@import "heading";
@import "archive";
@import "post";
@import "window";
@import "postscroll";

html * {
  transition: 0.3s;
}

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: $special;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background-color: $white;
}

.dark {
    color: $special;
    background-color: $black;
}

.light {
    color: $black;
    background-color: $special;
}

.darkmode {
    color: $special !important;
    background-color: $black !important;
}

.lightmode {
    color: $black !important;
    background-color: $special !important;
}
