// https://coolors.co/f6f6f4-e8eaea-48ff96-1f1f21-323235
$white: #f4f4fc;
$black: #141414;
$special: #3d4b98;

@import "navbar";
@import "header";
@import "projects";
@import "footer";
@import "scrollbar";

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Sen", sans-serif;
  text-rendering: optimizeLegibility;
  background: $black;
  // background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(117,117,117,1) 100%);
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
