nav {
  display: flex;
  background-color: $white;
  text-align: right;
  padding: 15px 20px;
  justify-content: center;
}

.navbar-link {
  font-size: 1.2vw;
  transition: 0.5s;
  color: $black;
  display: block;
  margin: 10px 15px;
}

.navbar-link:hover {
  transition: 0.5s;
  box-shadow: 0 2px $special;
  transform: translateY(3px);
}

@media (max-width: 600px) {
  #navbar {
    display: none;
  }
}
