#navbar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: transparent;
  text-align: right;
  padding: 15px 20px;
}

.navbar-link {
  transition: 0.5s;
  padding: 5px 10px;
  color: $white;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 15px 5px;
  box-shadow: 0 5px $special;
}

.navbar-link:hover {
  transition: 0.5s;
  box-shadow: 0 2px $special;
  transform: translateY(3px);
}

@media (max-width: 600px) {
  #navbar {
    display: none;
  }

}
