
#divnavbar {
    // padding: 20px 0;
    font-family: "Ubuntu";
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    text-align: left;
}

#menu {
    margin: auto 0 auto auto;
    text-align: right;
    margin: 23px 0;
}

#divnavbar  a {
    display: inline;
    margin: 0 20px;
    color: $grey;
    text-decoration: none;
    padding: 5px;
    user-select: none;
}

.currentlink {
  color: $grey !important;
}

#divnavbar .minvisible{
    display: none;
    margin: 0 30px;
    text-align: right;
    // float: right;
    font-size: 30px;
}


#bulb {
    float: left;
    cursor: pointer;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    #divnavbar .minvisible{
        display: block;
    }

    #divlinks {
      display: none;
    }

    #divlinks a{
      margin: 10px 0;
    }

    #divlinks {
        // display: flex;
        flex-flow: column;
        width: 100%;
    }

    #menu {
        margin: auto 0 auto auto;
        text-align: center;
        margin: 16px 0 0 0;
    }

    #menu:hover #divlinks {
        display: flex;
        text-decoration: underline;
    }
}
