
.horscroll .window {
  min-width: 22%;
  max-width: 22%;
  margin: 10px 30px;
  margin-right: 0;
  min-height: 300px;
}

.horscroll .window:hover {
  transform: scale(1.05);
  // box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.horscroll .window:first-child {
  margin-left: 15%;
}

.horscroll .window:last-child {
  margin-right: 50px;
}

@media screen and (max-width: 700px) {
  .horscroll .window {
    min-width: 65%;
    margin: 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .horscroll .window:first-child {
    margin-left: 20%;
  }
}
