html, body {
  min-height: 100%;
}

.post #heading {
  color: $white;
}

#divpost {
  font-size: 1vw;
  width: 70%;
  margin: auto;
}

#thumbnail {
  padding-top: 40px;
  width: 100%;
  filter: grayscale(0.2);
}

#divcontent {
  margin-top: 50px;
  font-family: "Gelasio", sans-serif;
  overflow-x: hidden;
}

#divcontent .highlight {
  overflow-x: auto;
}

.progress-cont{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: $white;
  z-index: 2;
}

.progress-bar{
  height: 10px;
  background: $grey;
  width: 0%;
  border-radius: 0 20px 20px 0;
}

#disqus_thread{
  width: 90%;
  margin: 10px auto;
}

#disqus_thread *{
  color: $white;
}

.posttitle {
  text-align: center;
  margin: 10px 5px;
  font-size: 3vw;
}

#divcontent a {
  text-decoration: none;
  color: $grey;
  text-shadow: 0 0 1px $white;
}

#divcontent a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  #divpost {
    font-size: 5vw;
    width: 90%;
    margin: auto;
  }

  .posttitle {
    font-size: 10vw;
  }

}
