// $white: $white;

.post #heading {
  width: 80%;
  margin: auto;
  font-size: 2.5vw;
  font-family: "Gelasio";
}

#divpost {
  font-size: 1.2vw;
  width: 70%;
  margin: auto;
  color: $black;
}

#thumbnail {
  padding-top: 40px;
  width: 100%;
  filter: grayscale(0);
}

#divcontent {
  margin-top: 2%;
  font-family: "Gelasio", sans-serif;
  overflow-x: hidden;
}

#divcontent .highlight {
  overflow-x: auto;
}

#divcontent::first-letter {
  font-size: 1.8vw;
}

.progress-cont{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: transparent;
  z-index: 2;
}

.progress-bar{
  height: 10px;
  background: $special !important;
  width: 0%;
  border-radius: 0 20px 20px 0;
}

#disqus_thread{
  width: 90%;
  margin: 10px auto;
}

.posttitle {
  text-align: center;
  margin: 10px 5px;
  font-size: 3vw;
}

#divcontent a {
  text-decoration: none;
  color: $special;
  // text-shadow: 0 0 1px $white;
}

#divcontent a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 700px) {
  #divpost {
    font-size: 5vw;
    width: 90%;
    margin: auto;
    // background-color: $white;
  }

  #divcontent::first-letter {
    font-size: 10vw;
  }

  .posttitle {
    font-size: 10vw;
  }

}
