.projects {
  max-height: 150vh;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-container {
  margin: 70px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  height: 100vh;
}

.projects-title-container {
  padding: 5px 15px;
  color: $white;
  margin: 10px auto;
  font-size: 3rem;
  text-align: center;
  width: 35vw;
}

.projects-title-container .header-big {
  font-size: 4vw;
}

.project {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  transition: 0.3s;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  border: 5px solid $white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.project:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0);
  border-color: $special;
}

.project-img {
  transition: 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
  filter: brightness(0.5) grayscale(1);
}

.project:hover .project-img {
  // opacity: 0;
  transition: 0.5s;
  filter: brightness(0.5);
}

.project:hover {
  // transform: scale(1.01);
}

.project-container {
  color: $white;
  background-color: $special;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.project-title {
  text-align: center;
  font-size: 2vw;
  margin: 0 0 5px 0;
  background-color: $white;
  color: $black;
  padding: 10px 15px;
  border-radius: 10px;
}

.project-link {
  text-align: center;
  color: $white;
  display: block;
  font-size: 2vw;
  margin: 20px;
}

.projects-more {
  text-align: center;
  margin: 40px auto;
  width: 30%;
}

.projects-more a {
  transition: 0.4s;
  font-size: 1.5vw;
  padding: 15px;
  display: block;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
  color: $black;
  background-color: $white;
}

.projects-more a:hover {
  color: $white;
  background-color: $special;
}

@media (max-width: 600px) {
  .projects-title {
    font-size: 3.5vh;
    width: 75%;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px auto;
  }

  .project {
    flex: 1;
    margin: 20px auto;
    width: 100%;
  }

  .project-title {
    font-size: 2.8vh;
  }

  .project-link {
    font-size: 2vh;
  }

  .projects-more {
    margin: 40px auto;
    width: 95%;
  }

  .projects-more a {
    font-size: 3vh;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .projects-container {
    width: 90%;
  }

  .project-title {
    font-size: 3.5vw;
  }

  .project-link {
    font-size: 2.5vw;
  }

  .projects-more {
    width: 80%;
  }

  .projects-more a {
    font-size: 3vw;
  }
}
