::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    // background: $textonwhite;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar:horizontal {
    height: 0;
}
