<!DOCTYPE html>
<html>

{% include head.html %}

<body class="light">

  {% include navbar.html %}

  <div id="divheading">
    <div id="heading" class="light">
      <h1>Giacomo</h1>
      <h1>Schiavo</h1>
    </div>
  </div>

  <div id="divbody">
    <div class="horizontal" id="divpost">
      <h2>latest post</h2>
      <!-- <a href="{{site.data.navigation[1].link}}">view all</a> -->
      <div class="horscroll">
        {% for post in site.posts %}
        {% if post.type == "blog" %}
        <div class="window dark">
          <h2>{{ post.title }}</h2>
          <p>{{ post.excerpt }}</p>
          <div class="divlink"><a href="{{post.url}}">read more</a></div>
        </div>
        {%endif%}
        {% endfor %}
      </div>
    </div>
    <div class="horizontal" id="divproject">
      <h2>latest projects</h2>
      <!-- <a href="{{site.data.navigation[2].link}}">view all</a> -->
      <div class="horscroll">
        {% for post in site.posts %}
        {% if post.type == "projects" %}
        <div class="window light">
          <h2>{{ post.title }}</h2>
          <p>{{ post.excerpt }}</p>
          <div class="divlink"><a href="{{post.url}}">read more</a></div>
        </div>
        {%endif%}
        {% endfor %}
      </div>
    </div>
  </div>

  {% include footer.html %}

  <script>
    function darkToggle() {
      $(".light").toggleClass("darkmode");
      $(".dark").toggleClass("lightmode");
    }
  </script>
</body>

</html>
